services:
  db:
    image: mysql:8.0
    container_name: dp3a_mysql
    restart: always
    environment:
      MYSQL_DATABASE: db_dp3a_pelaporan
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: dp3a_backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
      - ./backend/uploads:/app/uploads
    environment:
      - DATABASE_URL=mysql://root:rootpassword@db:3306/db_dp3a_pelaporan
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=rootpassword
      - DB_NAME=db_dp3a_pelaporan
    depends_on:
      - db

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: dp3a_phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db        
      - PMA_PORT=3306
      - MYSQL_ROOT_PASSWORD=rootpassword
    depends_on:
      - db
volumes:
  db_data: