@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: #f8f9fa;
}

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: -1px;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
}